/* Estilos globais comuns */
* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

li {
    list-style: none;
}

/* Estilos comuns para os botões */
#github, #CV, #youtube, #website {
    border: 1px solid white;
    width: 40%; /* Pode ser ajustado conforme necessário */
    height: 2em;
    color: #cccccc;
    background-color: #004f4f;
    border-radius: 0.5em;
    margin-bottom: 1em;
    font-size: 12px;
}

/* Estilos para botões hover */
#github:hover{
    background-color: #000000;
    color: #ffffff;
}

#CV:hover{
    background-color: #000000;
    color: #ffffff;
}

#youtube:hover{
    background-color: #000000;
    color: #ffffff;
}

#website:hover{
    background-color: #000000;
    color: #ffffff;
}

/* Estilos específicos para diferentes tamanhos de tela */
@media screen and (max-width: 1440px) {
    img {
        width: 10%;
        border-radius: 80%;
        object-fit: cover;
        margin-top: 2em;
        margin-bottom: 4.5em;
    }

    #titulo {
        height: 3em;
        font-size: 12px;
        font-weight: 500;
    }

    #linktree {
        margin-left: 36.5%;
        margin-top: 5%;
    }

    #github, #CV, #youtube, #website{
        font-size: 16px;
    }

    body {
        height: 62em;
        background-color: #161616;
    }

    h1 {
        color: #eeeeee;
        font-weight: 500;
        text-decoration: underline;
        font-size: 24px;
    }
}

/* Estilos para tela com largura máxima de 320px */
@media screen and (max-width: 320px) {
    img {
        width: 60%;
        border-radius: 80%;
        object-fit: cover;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #titulo {
        height: 3em;
        font-size: 8px;
        font-weight: 500;
        margin-bottom: 7em;
    }

    #linktree {
        margin-left: 23%;
        margin-top: 17%;
    }

    #github, #CV, #youtube, #website {
        width: 70%;
        font-size: 8px;
    }

    body {
        height: 62em;
        background-color: #161616;
    }
}

/* Estilos para tela com largura máxima de 375px */
@media screen and (max-width: 375px) {
    img {
        width: 60%;
        border-radius: 80%;
        object-fit: cover;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #titulo {
        height: 3em;
        font-size: 8px;
        font-weight: 500;
        margin-bottom: 7em;
    }

    #linktree {
        margin-left: 23%;
        margin-top: 17%;
    }

    #github, #CV, #youtube, #website {
        width: 70%;
        font-size: 8px;
    }

    body {
        height: 62em;
        background-color: #161616;
    }
}

/* Estilos para tela com largura máxima de 425px */
@media screen and (max-width: 425px) {
    img {
        width: 60%;
        border-radius: 80%;
        object-fit: cover;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #titulo {
        height: 3em;
        font-size: 8px;
        font-weight: 500;
        margin-bottom: 7em;
    }

    #linktree {
        margin-left: 23%;
        margin-top: 17%;
    }

    #github, #CV, #youtube, #website {
        width: 70%;
        font-size: 8px;
    }

    body {
        height: 62em;
        background-color: #161616;
    }
}

/* Estilos para tela com largura máxima de 768px */
@media screen and (max-width: 768px) {
    img {
        width: 10%;
        border-radius: 80%;
        object-fit: cover;
        margin-top: 2em;
        margin-bottom: 3.5em;
    }

    #titulo {
        height: 3em;
        font-size: 12px;
        font-weight: 500;
    }

    #linktree {
        margin-left: 28%;
        margin-top: 8%;
    }

    #github, #CV, #youtube, #website {
        width: 60%;
    }

    body {
        height: 62em;
        background-color: #161616;
    }

    h1 {
        color: #eeeeee;
        font-weight: 500;
        text-decoration: underline;
    }
}
